<html>

 <head>
   <title> Foslipy </title>
   <strong><link rel="stylesheet"type="text/css"href="static/css/style.css"></stong>
 </head>
    
    <body>
            
           <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Workshop List</a>
                 <ul>
                    <li><a href="flist">Free Workshop</a>

                    <ul>
                        <li><a href="fworkshop">Update List<a></li>
                        

                    </ul>
                    
                 </li>   


                    <li><a href="list">Upcoming Workshop</a>
                    <ul>

                    <li><a href="uworkshop">Update List<a></li>

                    </ul>
</li>
                    <li><a href="mworkshop">Monthly Workshop</a></li>
                   
                                  
                </li> 
                </ul>
                    </li>
                    <li><a href="#">  Activity</a></li>
                    <li><a href="#">Course+Internship</a></li>
                    <li><a href="#">Project Consultation</a></li>
                    <li><a href="briefoverview">Brief Overview</a></li>
                </ul>  
            </div> </br>
    </body>
</html>
